body {
    background-color: rgb(41, 115, 172);
  }




    
p {
    color: rgb(251, 251, 255); 
  }


  
  
h1 {

    color: rgb(0, 255, 191);
  }


  
  
  h3{

    color:rgb(244, 223, 178)
  }



  
h4{

    color: rgb(179, 229, 0);
  }


  
h3 {
    font-family: Georgia, serif;
  }



  H2{

    
    color: rgb(0, 229, 195);
  }

  p {
    color: rgb(233, 233, 235); 
  }